# Dependencies
node_modules/

# Environment variables
.env

# Fuseki files
fuseki/apache-jena-fuseki-5.3.0/
fuseki/run/
fuseki/logs/
fuseki/*.jar
fuseki/*.bat
fuseki/*.sh

# System files
.DS_Store
*.log

# Runtime data
fuseki/databases/
fuseki/backups/
